<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Hello, Spring Boot!</title>
    <link rel="stylesheet" href="/css/quest.css" type="text/css" />
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;
        var counter = 0;
    	var canvas = document.getElementById("c");
    	var ctx = canvas.getContext('2d');
        var canvas3 = document.getElementById("b");
        var ctx3 = canvas3.getContext('2d');
        var qrCanvas = document.getElementById("qrcode");
        
        var container = document.getElementById('wrap');
        var textArray = new Array();
        sizing();
    	
        /* Imageオブジェクトを生成 */
        var img = new Image();
        img.src = "[(${web})]";
        
        function sizing() {
          canvas.width = container.offsetWidth;
        }     
        
        var pusher = new Pusher('438d7f6db8b92d31fc29', {
            cluster : 'ap1',
            encrypted : true
        });

        move();
        var channel = pusher.subscribe("[(${messages})]");
        channel.bind('my-event', function(data) {
            textArray.push({
            			  text: data.message,
            			  cx: canvas.width,
            			  cy: Math.floor( Math.random() * (canvas.height + 1 - 0) ) + 0,
            			  speed: Math.random() * (3) + 1,
            			  color: data.color
            		});
            console.log(textArray);
            counter++;
        });
        ctx.font = "30px Arial";
        ctx.fillStyle = "gray";
        ctx.fillText("It will be appeared something words soon...", 10, 50);
        
        qrCanvas.onload = function() {
        	ctx3.drawImage(qrCanvas, 0, 0);
        }
        
        var lastTime = performance.now(),
        lastFrame = 0,
        cx = canvas.width,
        cy = 30,
        length = 0;
    
        function move() {
          var nowTime = performance.now(),
              time = nowTime - lastTime;
          lastTime = nowTime;

          ctx.clearRect(0, 0, canvas.width, canvas.height);
          for(key in textArray){
              length = ctx.measureText(textArray[key].text);
              textArray[key].cx -= ((time / 10) * textArray[key].speed);
              if(textArray[key].color !== undefined){
                  ctx.fillStyle = 'rgb(00,00,255)';
              }else{
                  ctx.fillStyle = 'rgb(00,255,00)';
              }
              ctx.fillText(textArray[key].text, textArray[key].cx, textArray[key].cy);
          }
          textArray.some(function(v, i){
            length = ctx.measureText(v.text);
            if(v.cx <= (length.width * -1)) {
              textArray.splice(i, 1);
            }
          });
          
          window.requestAnimationFrame(move);
        }
    });
    /*]]>*/
    </script>
</head>
<body>
    <h1>Recent messages</h1>
    <div id="wrap">
        <video controls id="v" width="540px" height="330px" loop autoplay style="position: absolute; z-index: 0;">
            <source src="/video/nc171335.mp4">
        </video>
        <canvas id="d" width="960px" height="330px" style="position: absolute; z-index: 0;"></canvas>
        <canvas id="c" width="960px" height="330px" style="position: absolute; z-index: 1;"></canvas>
        <canvas id="b" width="960px" height="330px" style="position: absolute; z-index: 2;"></canvas>
    </div>

    <div hidden=hidden>
        <h2>Connection ID</h2>
        <span id="connectionId" th:text="${qrcode}"></span>
        <img id="qrcode" th:src="@{/qr/100/100/?src={qrcode}(qrcode=${qrcode})}" hidden=hidden />
    </div>
</body>
</html>